<form action='/items' method='post'>
  <input id='itemDescription' name='itemDescription' type='text'>
  <label for='itemDueDate'>Item due date</label>
  <input id='itemDueDate' name='itemDueDate' type='date'>

  <button type='submit'>Add item</button>
</form>
